<div id="contact" class="modal contact-modal">
  <div
    id="contact-container"
    class="max-w-[400px] w-full rounded-md bg-white p-2.5 flex flex-col"
  >
    <button
      class="ml-auto mb-3 font-bold text-lg transition-opacity hover:opacity-50"
      aria-label="Close menu"
      id="close-contact"
    >
      &#x2715;
    </button>
    <h2 class="text-center text-xl font-bold mb-2">Contact us</h2>
    <form action="" class="flex flex-col gap-3 outline-none">
      <div class="flex flex-col gap-1 group">
        <label
          for="email"
          class="text-sm opacity-50 transition-opacity group-focus-within:opacity-95"
          >Your email</label
        >
        <input
          id="email"
          name="email"
          type="email"
          class="border text-sm rounded-md p-2 outline-none transition-colors focus:border-neutral-400"
          placeholder="example@gmail.com"
        />
      </div>
      <div class="flex flex-col gap-1 group">
        <label
          for="message"
          class="text-sm opacity-50 transition-opacity group-focus-within:opacity-95"
          >Message</label
        >
        <textarea
          name="message"
          class="border text-sm rounded-md p-2 resize-none outline-none transition-colors focus:border-neutral-400 min-h-32"
          placeholder="Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab, quis!"
        ></textarea>
      </div>
      <button type="submit" class="main-btn mt-5">Send message</button>
    </form>
  </div>
</div>
