<div id="menu" class="mobile-menu">
  <div class="flex items-center justify-between mb-20">
    <a href="" class="flex items-center gap-2.5">
      <img
        srcset="./img/logo.png 1x, ./img/logo@2x.png 2x"
        src="./img/logo.png"
        alt="Logotype"
        loading="lazy"
      />
    </a>
    <button
      id="close-menu"
      class="font-bold text-2xl"
      aria-label="Close mobile menu"
    >
      &#x2715;
    </button>
  </div>
  <ul class="flex flex-col items-center gap-6">
    <li>
      <a href="#header" class="mobile-nav-link">Home</a>
    </li>
    <li>
      <a href="#features" class="mobile-nav-link">Features</a>
    </li>
    <li>
      <a href="#faq" class="mobile-nav-link">About us</a>
    </li>
    <li>
      <a href="#blog" class="mobile-nav-link">News</a>
    </li>
    <li>
      <a href="#footer" class="mobile-nav-link">Contact</a>
    </li>
  </ul>
</div>
