<section class="pt-16 md:pt-20 lg:pt-24">
  <div class="container">
    <h2 class="main-title">Our Clients</h2>
    <ul
      class="mt-12 md:mt-16 grid md:grid-cols-2 lg:grid-cols-4 gap-[60px] lg:gap-12"
    >
      <li class="flex items-center justify-center">
        <img
          srcset="./img/noviexar.png 1x, ./img/noviexar@2x.png 2x"
          src="./img/noviexar.png"
          alt="Noviexar"
        />
      </li>
      <li class="flex items-center justify-center">
        <img
          srcset="./img/skyewave.png 1x, ./img/skyewave@2x.png 2x"
          src="./img/skyewave.png"
          alt="Skyewave"
        />
      </li>
      <li class="flex items-center justify-center">
        <img
          srcset="./img/nexacore.png 1x, ./img/nexacore@2x.png 2x"
          src="./img/nexacore.png"
          alt="nexacore"
        />
      </li>
      <li class="flex items-center justify-center">
        <img
          srcset="./img/elitexcel.png 1x, ./img/elitexcel@2x.png 2x"
          src="./img/elitexcel.png"
          alt="elitexcel"
        />
      </li>
      <li class="flex items-center justify-center">
        <img
          srcset="./img/zenithron.png 1x, ./img/zenithron@2x.png 2x"
          src="./img/zenithron.png"
          alt="zenithron"
        />
      </li>
      <li class="flex items-center justify-center">
        <img
          srcset="./img/ennovatek.png 1x, ./img/ennovatek@2x.png 2x"
          src="./img/ennovatek.png"
          alt="ennovatek"
        />
      </li>
      <li class="flex items-center justify-center">
        <img
          srcset="./img/infinitumix.png 1x, ./img/infinitumix@2x.png 2x"
          src="./img/infinitumix.png"
          alt="infinitumix"
        />
      </li>
      <li class="flex items-center justify-center">
        <img
          srcset="./img/spectrafuse.png 1x, ./img/spectrafuse@2x.png 2x"
          src="./img/spectrafuse.png"
          alt="spectrafuse"
        />
      </li>
    </ul>
  </div>
</section>
