<section id="faq" class="pt-32 md:pt-36 lg:pt-28">
  <div class="container">
    <h2 class="main-title">Frequently Asked Questions</h2>
    <p class="main-descr mb-16">
      We tried to answer most common questions, if you have any additional,
      please get in touch with our friendly team
    </p>
    <div class="accordion-container">
      <div class="ac">
        <h2 class="ac-header">
          <button type="button" class="ac-trigger">
            01. What are properties in Figma?
          </button>
        </h2>
        <div class="ac-panel">
          <p class="ac-text">
            The main feature of Whitespace UI that it saves you time. If it
            saves you time, it automatically saves you money. You no longer have
            to create a new UI kit from scratch before starting each project.
            Use Whitespace UI on an unlimited number of projects and save
            hundreds of hours and thousands of dollars.
          </p>
        </div>
      </div>

      <div class="ac">
        <h2 class="ac-header">
          <button type="button" class="ac-trigger">
            02. How Whitespace UI kit and Design System can help me?
          </button>
        </h2>
        <div class="ac-panel">
          <p class="ac-text">
            The main feature of Whitespace UI that it saves you time. If it
            saves you time, it automatically saves you money. You no longer have
            to create a new UI kit from scratch before starting each project.
            Use Whitespace UI on an unlimited number of projects and save
            hundreds of hours and thousands of dollars.
          </p>
        </div>
      </div>

      <div class="ac">
        <h2 class="ac-header">
          <button type="button" class="ac-trigger">
            03. What is your return policy?
          </button>
        </h2>
        <div class="ac-panel">
          <p class="ac-text">
            The main feature of Whitespace UI that it saves you time. If it
            saves you time, it automatically saves you money. You no longer have
            to create a new UI kit from scratch before starting each project.
            Use Whitespace UI on an unlimited number of projects and save
            hundreds of hours and thousands of dollars.
          </p>
        </div>
      </div>

      <div class="ac">
        <h2 class="ac-header">
          <button type="button" class="ac-trigger">
            04. How can I contact customer support?
          </button>
        </h2>
        <div class="ac-panel">
          <p class="ac-text">
            The main feature of Whitespace UI that it saves you time. If it
            saves you time, it automatically saves you money. You no longer have
            to create a new UI kit from scratch before starting each project.
            Use Whitespace UI on an unlimited number of projects and save
            hundreds of hours and thousands of dollars.
          </p>
        </div>
      </div>

      <div class="ac">
        <h2 class="ac-header">
          <button type="button" class="ac-trigger">
            05. What payment methods do you accept?
          </button>
        </h2>
        <div class="ac-panel">
          <p class="ac-text">
            The main feature of Whitespace UI that it saves you time. If it
            saves you time, it automatically saves you money. You no longer have
            to create a new UI kit from scratch before starting each project.
            Use Whitespace UI on an unlimited number of projects and save
            hundreds of hours and thousands of dollars.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
