<section id="features" class="pt-16 md:pt-20 lg:pt-40">
  <div class="container flex flex-col">
    <p class="main-tag">Our Features</p>
    <h2 class="main-title">Our key benefits</h2>
    <p class="main-descr mb-14">
      Our services are designed to cater to your specific needs and goals
    </p>
    <div class="flex flex-col lg:flex-row lg:items-center gap-6 lg:gap-8">
      <ul class="flex flex-col">
        <li class="p-6">
          <span
            class="w-10 h-10 rounded-xl bg-lightBlue flex items-center justify-center mb-4"
          >
            <svg class="w-6 h-6 fill-none stroke-blue">
              <use href="./img/svg/icons.svg#check"></use>
            </svg>
          </span>
          <h3 class="font-semibold text-lg md:text-xl text-dark mb-2">
            Project Structure
          </h3>
          <p class="font-normal text-base text-darkBlue">
            Check out our proven methods, guides, and exercises that help make
            work better, and people happier.
          </p>
        </li>
        <li class="p-6">
          <span
            class="w-10 h-10 rounded-xl bg-lightBlue flex items-center justify-center mb-4"
          >
            <svg class="w-6 h-6 fill-none stroke-blue">
              <use href="./img/svg/icons.svg#responsive"></use>
            </svg>
          </span>
          <h3 class="font-semibold text-lg md:text-xl text-dark mb-2">
            Responsive
          </h3>
          <p class="font-normal text-base text-darkBlue">
            This Design System and UI kit is coming with full-responsive screens
            for tablet and mobile devices.
          </p>
        </li>
        <li class="p-6">
          <span
            class="w-10 h-10 rounded-xl bg-lightBlue flex items-center justify-center mb-4"
          >
            <svg class="w-6 h-6 fill-none stroke-blue">
              <use href="./img/svg/icons.svg#messaging"></use>
            </svg>
          </span>
          <h3 class="font-semibold text-lg md:text-xl text-dark mb-2">
            Messaging
          </h3>
          <p class="font-normal text-base text-darkBlue">
            On mobile, customers can send text, or audio messages to agents,
            like using any messaging app
          </p>
        </li>
      </ul>
      <ul
        class="grid grid-cols-2 grid-rows-10 gap-4 md:gap-8 h-[328px] md:h-[562px]"
      >
        <li class="row-span-6">
          <img
            srcset="./img/features-1.jpg 1x, ./img/features-1@2x.jpg 2x"
            src="./img/features-1.jpg"
            alt="Features 1"
            class="w-full h-full object-cover rounded-lg"
          />
        </li>
        <li class="row-span-4">
          <img
            srcset="./img/features-2.jpg 1x, ./img/features-2@2x.jpg 2x"
            src="./img/features-2.jpg"
            alt="Features 2"
            class="w-full h-full object-cover rounded-lg"
          />
        </li>
        <li class="row-span-6">
          <img
            srcset="./img/features-3.jpg 1x, ./img/features-3@2x.jpg 2x"
            src="./img/features-3.jpg"
            alt="Features 3"
            class="w-full h-full object-cover rounded-lg"
          />
        </li>
        <li class="row-span-4">
          <img
            srcset="./img/features-4.jpg 1x, ./img/features-4@2x.jpg 2x"
            src="./img/features-4.jpg"
            alt="Features 4"
            class="w-full h-full object-cover rounded-lg"
          />
        </li>
      </ul>
    </div>
  </div>
</section>
