<footer
  id="footer"
  class="pt-[100px] md:pt-[120px] lg:pt-[130px] pb-12 md:pb-16 lg:pb-10"
>
  <div class="container">
    <div>
      <a href="" class="flex items-center justify-center gap-2.5 mb-6">
        <img
          srcset="./img/logo.png 1x, ./img/logo@2x.png 2x"
          src="./img/logo.png"
          alt="Logotype"
        />
        <p class="font-medium text-lg">Whitespace UI</p>
      </a>
      <p class="font-normal text-base text-darkBlue text-center mb-8">
        We love working with ambitious people. Let's build something great
        together now.
      </p>
      <ul class="flex items-center justify-center gap-1">
        <li>
          <a href="#">
            <svg class="w-6 h-6 fill-grey stroke-white">
              <use href="./img/svg/icons.svg#instagram"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="#">
            <svg class="w-6 h-6 fill-grey stroke-white">
              <use href="./img/svg/icons.svg#facebook"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="#">
            <svg class="w-6 h-6 fill-grey stroke-white">
              <use href="./img/svg/icons.svg#twitter"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="#">
            <svg class="w-6 h-6 fill-grey stroke-white">
              <use href="./img/svg/icons.svg#linkedin"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
