<section class="pt-12">
  <div class="container lg:flex lg:items-center lg:justify-between lg:gap-10">
    <div class="mb-12 lg:w-1/2">
      <h1
        class="font-semibold text-dark text-[36px] md:text-[48px] leading-10 md:leading-tight mb-4"
      >
        Everything you need to scale a
        <span class="hero-text-underline">global team</span>
      </h1>
      <p class="text-base md:text-lg text-darkBlue mb-8 md:mb-10">
        Check out our proven methods, guides, and exercises that help make work
        better, and people happier.
      </p>
      <div class="flex flex-col md:flex-row gap-3 mb-6">
        <button class="main-btn">Learn more</button>
        <button
          class="font-sans font-semibold text-darkBlue text-sm flex items-center justify-center gap-2 h-10 px-5 border rounded-md transition-opacity hover:opacity-50"
        >
          <svg class="w-5 h-5 fill-none stroke-darkBlue">
            <use href="./img/svg/icons.svg#play"></use>
          </svg>
          Watch demo
        </button>
      </div>
      <div>
        <p class="text-lg font-normal mb-2">
          Trusted by over than 1M customers
        </p>
        <div class="flex items-center gap-1">
          <svg class="w-5 h-5">
            <use href="./img/svg/icons.svg#star"></use>
          </svg>
          <svg class="w-5 h-5">
            <use href="./img/svg/icons.svg#star"></use>
          </svg>
          <svg class="w-5 h-5">
            <use href="./img/svg/icons.svg#star"></use>
          </svg>
          <svg class="w-5 h-5">
            <use href="./img/svg/icons.svg#star"></use>
          </svg>
          <svg class="w-5 h-5">
            <use href="./img/svg/icons.svg#star"></use>
          </svg>
        </div>
      </div>
    </div>
    <div class="lg:px-12">
      <picture>
        <source
          srcset="./img/hero-mobile.jpg 1x, ./img/hero-mobile@2x.jpg 2x"
          media="(max-width: 767px)"
        />
        <source
          srcset="./img/hero-tablet.jpg 1x, ./img/hero-tablet@2x.jpg 2x"
          media="(min-width: 768px) and (max-width: 1023px)"
        />
        <source
          srcset="./img/hero-desktop.jpg 1x, ./img/hero-desktop@2x.jpg 2x"
          media="(min-width: 1024px)"
        />
        <img
          src="./img/hero-desktop.jpg"
          alt="Hero image"
          class="max-w-[500px] w-full max-lg:mx-auto"
        />
      </picture>
    </div>
  </div>
</section>
