<div class="container mt-6 md:mt-10 flex justify-center">
  <div class="max-w-[527px] w-full p-8 bg-lightBlue rounded-lg">
    <h3 class="font-semibold text-xl text-center text-darkBlue mb-3">
      Still have a questions?
    </h3>
    <p class="font-normal text-sm text-center text-dark mb-8">
      We're sorry we couldn't provide you with the information you were looking
      for. Please contact us and we'll be happy to help.
    </p>
    <button class="main-btn mx-auto max-md:w-full">
      <svg class="w-5 h-5 fill-none stroke-white">
        <use href="./img/svg/icons.svg#contact-us"></use>
      </svg>
      Contact us
    </button>
  </div>
</div>
