@import 'modern-normalize/modern-normalize.css';

@import './loader.css';
@import './accordion.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  @apply max-w-[375px] px-4 md:max-w-screen-md md:px-8 lg:max-w-[1260px] mx-auto;
}

.main-btn {
  @apply bg-blue text-white text-sm rounded-md font-sans font-semibold py-2 md:py-2.5  px-4 md:px-5 transition-colors hover:bg-sky-500;
}

.main-tag {
  @apply inline-block mx-auto mb-2 text-center py-0.5 px-2.5 rounded-full bg-lightBlue text-blue text-sm font-medium;
}

.main-title {
  @apply mb-3 font-semibold text-dark text-[28px] md:text-[36px] text-center leading-8 md:leading-tight;
}

.main-descr {
  @apply max-w-[650px] mx-auto font-normal text-lg text-darkBlue text-center;
}

.nav-link {
  @apply font-medium text-base text-darkBlue transition-opacity hover:opacity-70;
}

.hero-text-underline {
  position: relative;
  z-index: 1;

  &::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 105%;
    height: 6px;
    background-color: #1a75ff;
    z-index: -1;
    border-radius: 10px;
  }
}
